PORT=5001
UPLOAD_FILE_SIZE_LIMIT=1000000 # in BYTE
MONGO_DB_URI=mongodb+srv://username:password@cluster0.m4rht.mongodb.net/ai-job-recommendation
GROQ_AI_API_KEY=gsk_xxIfaxxxxxxxxxxx
GROQ_AI_MODEL=llama-3.1-8b-instant
SERVER_ENV=prod
JWT_ACCESS_SECRET=xxxxxxxxxxx
JWT_REFRESH_SECRET=xxxxxxxxxxxxxxx